<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projewallet">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_wallet_72"
        android:label="Wall-Et"
        android:roundIcon="@drawable/ic_wallet_72"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjEWallet">
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".KodeBayar"
            android:exported="false" />
        <activity
            android:name=".BayarIsi"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>